aiofiles
aiogram
aiohttp
dataclasses-json
faiss-cpu
fastapi
langchain
langchain-openai
langsmith
nltk
numpy
openai
pydantic
python-dotenv
python-telegram-bot
requests
SQLAlchemy
starlette
tiktoken
uvicorn
